<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <table cellspacing="0" cellpadding="0" width="100%" border="0" style="border-spacing: 0; margin-top: -8px">
        <!------green-line------->
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background: #67b73e;">
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" border="0" width="660">
                                <tr>
                                    <td width="330" height="30" style="text-align: left"><a href="#" style="font-size: 13px; color: #fff; font-family: calibri; font-style: italic;">Заманчивые предложения</a></td>
                                    <td width="330" height="30" style="text-align: right"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!------end-green-line------->
        <!------contacts-line------->
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td>
                            <table cellspacing="0" class="" cellpadding="0" border="0" width="100%" height="30" style="background: #fff;"></table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+30,f0f0f0+99 */
                                        background: #ffffff; /* Old browsers */
                                        background: -moz-linear-gradient(top,  #ffffff 30%, #f0f0f0 99%); /* FF3.6+ */
                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#ffffff), color-stop(99%,#f0f0f0)); /* Chrome,Safari4+ */
                                        background: -webkit-linear-gradient(top,  #ffffff 30%,#f0f0f0 99%); /* Chrome10+,Safari5.1+ */
                                        background: -o-linear-gradient(top,  #ffffff 30%,#f0f0f0 99%); /* Opera 11.10+ */
                                        background: -ms-linear-gradient(top,  #ffffff 30%,#f0f0f0 99%); /* IE10+ */
                                        background: linear-gradient(to bottom,  #ffffff 30%,#f0f0f0 99%); /* W3C */
                                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
                                        ">
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="660" height="87" style="margin: 0 20px;">
                                            <tr>
                                                <td valign="top" >
                                                    <table cellpadding="0" cellspacing="0" border="0" width="174"height="42">
                                                        <tr>
                                                            <td align="center" valign="top"><a target="_blank"  href="http://semena.in.ua/ru"><img src="images/logo.png" width="174" height="42" alt=""/></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td valign="top" align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" width="336">
                                                        <tr>
                                                            <td align="center">
                                                                <table cellpadding="0" cellspacing="0" border="0" width="310">
                                                                    <tr>
                                                                        <td width="168"><img style="vertical-align: middle; " src="images/ico-1.png" /><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(044) <span style="font-size: 20px; font-weight: bold;">581-67-15</span></span></td>
                                                                        <td width="168"><img style="vertical-align: middle; " src="images/ico-1.png" /><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(044) <span style="font-size: 20px; font-weight: bold;">451-48-59</span></span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="168"><img style="vertical-align: middle; " src="images/ico-2.png" /><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(050) <span style="font-size: 20px; font-weight: bold;">464-48-59</span></span></td>
                                                                        <td width="168"><img style="vertical-align: middle; " src="images/ico-3.png" /><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(067) <span style="font-size: 20px; font-weight: bold;">464-48-59</span></span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table cellpadding="0" cellspacing="0" border="0">
                                                                    <tr>
                                                                        <td width="168"><img style="vertical-align: middle; " src="images/ico-4.png" /><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(093) <span style="font-size: 20px; font-weight: bold;">026-86-64</span></span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td valign="top">
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td height="24"><img style="vertical-align: middle; " src="images/ico-5.png" /><a target="_blank" href="http://semena.in.ua/customer_login/ru" style="margin-left: 5px; font-size: 13px; font-family: calibri; font-style: italic; color: #4a4a4a;">Личный кабинет</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"><img style="vertical-align: middle; " src="images/ico-6.png" /><a target="_blank" href="http://semena.in.ua/callback/ru" style="margin-left: 5px; font-size: 13px; font-family: calibri; font-style: italic; color: #4a4a4a;">Обратная связь</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="24"><img style="vertical-align: middle; " src="images/ico-7.png" /><a target="_blank" href="http://semena.in.ua/video/ru" style="margin-left: 5px; font-size: 13px; font-family: calibri; font-style: italic; color: #4a4a4a;">Видеообзоры</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!------end-contacts-line------->
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background: #f0f0f0;">
                    <!------menu------>
                    <tr>
                        <td valign="top" align="center">
                            <table cellpadding="0" cellspacing="0" border="0" width="660">
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="654" height="36" style="background: #67b73e; border-radius: 5px;">
                                            <tr>
                                                <td align="center" style="border-right: 1px solid #4fa32c;"><a target="_blank" href="http://semena.in.ua/o-kompanii-1/ru" style="height: 36px; color: #fff; font-weight: bold; font-size: 14px; font-family: calibri;text-decoration: none; ">О компании</a></td>
                                                <td align="center" style="border-left: 1px solid #86d060;"><a target="_blank" href="http://semena.in.ua/dostavka-i-oplata-2/ru" style="height: 36px; color: #fff; font-weight: bold; font-size: 14px; font-family: calibri;text-decoration: none;">Доставка и оплата</a></td>
                                                <td align="center" style="padding: 0 7px; background: #4e9f20;"><a target="_blank" href="http://semena.in.ua/news-actions/ru" style="height: 36px; color: #fff; font-weight: bold; font-size: 14px; font-family: calibri;text-decoration: none;">Акции</a></td>
                                                <td align="center"><a target="_blank" href="http://semena.in.ua/prof_tips/ru" style="height: 36px; color: #fff; font-weight: bold; font-size: 14px; font-family: calibri;text-decoration: none;">Советы профессионалов</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!----- end menu-------->

                    <tr>
                        <td height="20"></td>
                    </tr>
                    <!----kvadratki---->
                    <tr>
                        <td align="center">
                            <table cellspacing="0" cellpadding="0" border="0" width="660">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="96" height="155">
                                            <tr>
                                                <td valign="top"><a target="_blank"  href="#"><img src="images/f-1.jpg" width="96" height="96" /></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="http://semena.in.ua/semena_ovoshchey_1c_20/ru" style="text-transform: uppercase; color: #54a727; font-weight: bold; font-size: 13px; text-decoration: none; font-family: calibri;">СЕМЕНА</br>ОВОЩЕЙ</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="96" height="155">
                                            <tr>
                                                <td valign="top"><a target="_blank"  href="http://semena.in.ua/semena_tsvetov_1c_20/ru"><img src="images/f-2.jpg" width="96" height="96" /></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="http://semena.in.ua/semena_tsvetov_1c_20/ru" style="text-transform: uppercase; color: #b12a2c; font-weight: bold; font-size: 13px; text-decoration: none; font-family: calibri;">СЕМЕНА</br>ЦВЕТОВ</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="96" height="155">
                                            <tr>
                                                <td valign="top"><a target="_blank"  href="http://semena.in.ua/udobrenija_i_sredstva_zashchity_1c_20/ru"><img src="images/f-3.jpg" width="96" height="96" /></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="http://semena.in.ua/udobrenija_i_sredstva_zashchity_1c_20/ru" style="text-transform: uppercase; color: #f36d01; font-weight: bold; font-size: 13px; text-decoration: none; font-family: calibri;">Удобрения и</br>средства</br>защиты</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="96" height="155">
                                            <tr>
                                                <td valign="top"><a target="_blank"  href="http://semena.in.ua/gazonnye_travy_1c_20/ru"><img src="images/f-4.jpg" width="96" height="96" /></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="http://semena.in.ua/gazonnye_travy_1c_20/ru" style="text-transform: uppercase; color: #1a7781; font-weight: bold; font-size: 13px; text-decoration: none; font-family: calibri;">Газонные</br>травы</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="96" height="155">
                                            <tr>
                                                <td valign="top"><a target="_blank"  href="http://semena.in.ua/biopreparaty_1c_20/ru"><img src="images/f-5.jpg" width="96" height="96" /></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="http://semena.in.ua/biopreparaty_1c_20/ru" style="text-transform: uppercase; color: #0aa2dd; font-weight: bold; font-size: 13px; text-decoration: none; font-family: calibri;">Биопрепараты</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="96">
                                        <table cellpadding="0" cellspacing="0" border="0" width="96" height="155">
                                            <tr>
                                                <td valign="top"><a target="_blank"  href="http://semena.in.ua/tovary_dlja_sada_i_ogoroda_1c_20/ru"><img src="images/f-6.jpg" width="96" height="96" /></a></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="http://semena.in.ua/tovary_dlja_sada_i_ogoroda_1c_20/ru" style="text-transform: uppercase; color: #b1873f; font-weight: bold; font-size: 13px; text-decoration: none; font-family: calibri;">Товары</br>для сада</br>и огорода</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <!-------content------->
                    <tr>
                        <td align="center">
                            <table cellspacing="0" cellpadding="0" border="0" width="681" height="21" background="images/bg-otpiska.png"></table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table cellspacing="0" cellpadding="0" border="0" width="681" background="images/bg-otpiska2.png">
                                <tr>
                                    <td align="center">
                                        <table class="0" cellpadding="0" border="0" width="640">
                                            <tr>
                                                <td style="color: #333333; font-size: 24px; font-family: calibri; font-weight: bold">
                                                    Добрый день!
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                            <tr>
                                                <td style="color: #333333; font-size: 16px; font-family: calibri;">
                                                    Большое спасибо, что подписались на рассылку от компании «Професійне насіння». С завтрашнего дня вы будете получать крайне полезные и интересные статьи.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                            <tr>
                                                <td style="color: #333333; font-size: 16px; font-family: calibri;">
                                                    Я, как ведущий агроном, на протяжении многих лет собрал огромный объем данных и проверил их на практике. Уверен, каждый любитель огородов и дачных участков найдет для себя в моих рассылках что-то новое.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                            <tr>
                                                <td style="color: #333333; font-size: 16px; font-family: calibri;">
                                                    Хочу посоветовать вам сразу завести отдельную папку, в которой можно сохранять рассылки, чтобы не потерять их. Темы разнообразны и будут актуальны на протяжении всего года. Вот лишь некоторые из них:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table cellpadding="0" border="0" cellspacing="0" width="640" style="border-bottom: 1px solid #67b73e;">
                                            <tr>
                                                <td align="center">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="660" height="148" background="images/bg-next.jpg">
                                                        <tr>
                                                            <td align="center" valign="bottom">
                                                                <table cellpadding="0" cellspacing="0" border="0" width="640">
                                                                    <tr>
                                                                        <td width="169"><img src="images/pic-1.jpg" alt=""/></td>
                                                                        <td width="20"></td>
                                                                        <td style="color: #00aeef; font-size: 18px; font-family: calibri">Все о картофеле.</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" width="640">
                                                        <tr>
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" border="0" width="640">
                                                                    <tr>
                                                                        <td width="169"><img src="images/pic-2.jpg" alt=""/></td>
                                                                        <td width="20"></td>
                                                                        <td style="color: #00aeef; font-size: 18px; font-family: calibri">Как добиться того, чтобы ваши цветы и газоны</br>
                                                                            были самыми красивыми.</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" width="640">
                                                        <tr>
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" border="0" width="640">
                                                                    <tr>
                                                                        <td width="169"><img src="images/pic-3.jpg" alt=""/></td>
                                                                        <td width="20"></td>
                                                                        <td style="color: #00aeef; font-size: 18px; font-family: calibri">Выращивание томатов, огурцов и ТОП-10 лучших</br>
                                                                            рецептов консервации.</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" width="640">
                                                        <tr>
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" border="0" width="640">
                                                                    <tr>
                                                                        <td width="169"><img src="images/pic-4.jpg" alt=""/></td>
                                                                        <td width="20"></td>
                                                                        <td style="color: #00aeef; font-size: 18px; font-family: calibri">Календарь огородника и как обеспечить растениям</br>
                                                                            безопасную зимовку.</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="640">
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 16px; color: #333333; font-family: calibri;">
                                                    Пожалуйста, обратите внимание на то, что личные данные подписчиков, в том числе и e-mail, не разглашается и не используется в каких-либо иных целях, кроме рассылки писем от нашего магазина.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 16px; color: #333333; font-family: calibri;">Прочитать письма можно в любое время, потратив не более 15-20 минут. Вскоре вы соберете у себя мини-энциклопедию, которая пригодится не только вам. Для родственников, друзей и коллег вы станете огородником-экспертом.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 16px; color: #333333; font-family: calibri;">Если вам станет не интересно получать полезные советы, тогда просто нажмите на ссылку «отписаться» и больше я вас не потревожу. Так как это массовая рассылка, иногда она попадает в спам. Чтобы этого не произошло, добавьте semena.in.ua в адресную книгу.</td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table cellpadding="0" cellspacing="0" border="0" width="660" background="images/pattern.png">
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="0" border="0" cellpadding="0" width="220">
                                                        <tr>
                                                            <td align="center"><img src="images/ic-f-1.png" alt=""/></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family: calibri; font-weight: bold; color: #464646; font-size: 16px">Подписываетесь</br>на нашу рассылку</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table cellspacing="0" border="0" cellpadding="0" width="220">
                                                        <tr>
                                                            <td align="center"><img src="images/ic-f-2.png" alt=""/></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family: calibri; font-weight: bold; color: #464646; font-size: 16px">Читаете письма</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table cellspacing="0" border="0" cellpadding="0" width="220">
                                                        <tr>
                                                            <td align="center"><img src="images/ic-f-3.png" alt=""/></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family: calibri; font-weight: bold; color: #464646; font-size: 16px">Делитесь с друзьями</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellspacing="0" border="0" cellpadding="0" width="220">
                                                        <tr>
                                                            <td align="center"><img src="images/ic-f-4.png" alt=""/></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family: calibri; font-weight: bold; color: #464646; font-size: 16px">Получаете</br>отменный урожай!</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table cellspacing="0" border="0" cellpadding="0" width="220">
                                                        <tr>
                                                            <td align="center"><img src="images/ic-f-5.png" alt=""/></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family: calibri; font-weight: bold; color: #464646; font-size: 16px">Становитесь экспертом</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table cellspacing="0" border="0" cellpadding="0" width="220">
                                                        <tr>
                                                            <td align="center"><img src="images/ic-f-6.png" alt=""/></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family: calibri; font-weight: bold; color: #464646; font-size: 16px">Участвуете в акциях</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="660" height="413" background="images/bg-5.jpg">
                                            <tbody><tr>
                                                <td align="center" valign="bottom" style="color: #fff; font-family: calibri; font-style: 16px; font-weight: bold;">
                                                    Юрий Подлужный<br>
                                                    <span style="font-weight: normal; font-size: 14px;">Ведущий агроном компании «Професійне насіння»</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-------content------->
                </table>
            </td>
        </tr>
        <tr>
            <td height="30" style="background: #f0f0f0;"></td>
        </tr>
        <!--------footer------->
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" height="236" background="images/bg-2.jpg">
                    <tr>
                        <td align="center">
                            <table cellspacing="0" border="0" cellpadding="0" width="660">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" height="236">
                                            <tr>
                                                <td height="90"><a target="_blank" href="http://semena.in.ua/ru"><img src="images/logo2.png" alt="semena.in.ua" /></a></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" height="60" style="color: #4a4a4a; font-size: 15px; font-family: calibri; font-weight: normal;">Адрес центрального офиса:</br>
                                                    <span style="font-weight: bold;">Киев, ул. Садовая, 95</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tr><td width="168"><img style="vertical-align: middle; " src="images/ico-1.png"><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(044) <span style="font-size: 20px; font-weight: bold;">581-67-15</span></span></td></tr>
                                            <tr><td width="168"><img style="vertical-align: middle; " src="images/ico-1.png"><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(044) <span style="font-size: 20px; font-weight: bold;">451-48-59</span></span></td></tr>
                                            <tr><td width="168"><img style="vertical-align: middle; " src="images/ico-2.png"><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(050) <span style="font-size: 20px; font-weight: bold;">464-48-59</span></span></td></tr>
                                            <tr><td width="168"><img style="vertical-align: middle; " src="images/ico-3.png"><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(067) <span style="font-size: 20px; font-weight: bold;">464-48-59</span></span></td></tr>
                                            <tr><td width="168"><img style="vertical-align: middle; " src="images/ico-4.png"><span style="margin-left: 5px; font-size: 18px; font-family: calibri; color: #4a4a4a;">(093) <span style="font-size: 20px; font-weight: bold;">026-86-64</span></span></td></tr>
                                        </table>
                                    </td>
                                    <td align="right">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td>
                                                    <table cellspacing="0" cellpadding="0" border="0" width="168" style="text-align: right">
                                                        <tr>
                                                            <td><a target="_blank"  href="https://www.facebook.com/Professionalseeds"><img src="images/fb.png" alt=""/></a></td>
                                                            <td><a target="_blank"  href="https://www.youtube.com/channel/UCMnG-NxtoprcTxKcPouwWdQ"><img src="images/youtube.png" alt=""/></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="148" height="26">
                                                        <tr>
                                                            <td  style="border: 1px solid #67b73e; text-align: center; border-radius: 3px;">
                                                                <a href="#" style=" color: #333333; font-size: 13px; font-family: calibri; text-decoration: none;">отписаться от рассылки</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="148" height="26">
                                                        <tr>
                                                            <td  style=" border: 1px solid #67b73e; text-align: center ;border-radius: 3px; background: #67b73e;">
                                                                <a href="#" style=" color: #fff; font-size: 13px; font-family: calibri; text-decoration: none;">Настроить рассылку</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!------end--footer------->
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" height="30" style="background: #fff;">
                    <tr>
                        <td align="center" style="color: #333333; font-size: 13px; font-family: calibri; font-style: italic; line-height: 30px">Вы получили это письмо, потому что зарегистрированы на сайте
                            <a href="http://semena.in.ua/" style="color: #3c3b3b;">semena.in.ua</a></td>
                    </tr>
                </table>
            </td>
        </tr>
            </td>
        </tr>
    </table>
</body>
</html>