* {
  margin: 0;
  padding: 0;
}
body .section-box-content {
  font-family: 'Ubuntu', Arial;
  font-weight: normal;
  font-size: 13px;
  color: #363636;
}
body .section-box-content .active_user {
  opacity: 1!important;
}
body .section-box-content .active_user a {
  text-decoration: none;
  display: inline;
}
body .section-box-content a {
  text-decoration: none;
  display: inline;
}
body .section-box-content img {
  border: none;
}
body .section-box-content #widget_block a:hover {
  text-decoration: underline;
}
[class*="section-box"] {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.box-wr {
  width: 960px;
  margin: 0 auto;
}
.box-all {
  width: 960px;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.lending_pic {
  height: 501px;
  background: url("images/pic.jpg") 50% no-repeat;
}
.lending_pic_p {
  font-size: 50px;
  font-family: Helvetica;
  color: #fff;
  float: left;
  font-weight: 700;
  margin-top: 327px;
  line-height: 52px;
  opacity: 0;
  transition: 2s;
}
.registration_box {
  width: 251px;
  height: 341px;
  float: right;
  background: #fff;
  border-radius: 5px;
  margin-top: 81px;
}
.registration_box input {
  width: 210px;
  height: 30px;
  font-size: 13px;
  color: #4a4a4a;
  padding-left: 10px;
  border-radius: 4px;
  margin-left: 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
}
.registration_box button {
  -webkit-box-shadow: 0px 3px 0px 0px #55a727;
  -moz-box-shadow: 0px 3px 0px 0px #55a727;
  box-shadow: 0px 3px 0px 0px #55a727;
  width: 210px;
  height: 34px;
  background: #67b73e;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
  border: none;
  display: table;
  margin: 5px auto 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.registration_box button:hover {
  background-color: #7ac554;
}
.registration_box form {
  padding-top: 20px;
}
.registration_box_header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 49px;
  background: #67b73e;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-top: 17px;
}
.registration_box_secret {
  display: table;
  margin: 23px auto;
  text-align: center;
  color: #4a4a4a;
}
.registration_box_secret img {
  margin-bottom: 6px;
}
.registration_box_footer {
  background: #fafafa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 43px;
  padding-top: 10px;
  padding-left: 41px;
  box-sizing: border-box;
  position: relative;
}
.registration_box_footer a {
  color: #00aeef;
  border-bottom: 1px dashed;
}
.registration_box_footer a:hover {
  color: #47c2f1;
}
.registration_box_footer img {
  position: absolute;
  right: 37px;
}
.menu_fixed {
  position: fixed;
  z-index: 5;
  top: 0;
}
.menu {
  height: 49px;
  background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0);
  /* IE6-9 */
  border-bottom: 1px solid #cccccc;
}
.menu ul {
  list-style-type: none;
}
.menu li:first-child {
  border-left: 1px solid #ccc;
}
.menu .link {
  color: #444444;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.menu li {
  box-sizing: border-box;
  height: 48px;
  display: inline-block;
  padding: 16px 47px;
  border-right: 1px solid #ccc;
  transition: 0.3s;
}
.menu li:hover {
  background-color: #67b73e;
}
.menu .active_menu {
  background: #67b73e;
  color: #fff;
}
.ru li {
  padding: 16px 32px;
}
.sales_box {
  width: 220px;
  height: 363px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 5px 1px #cfcfcf;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  margin-right: 17px;
  float: left;
}
.sales_box_link .sales_box {
  margin-right: 0!important;
}
.sales_box_date {
  width: 177px;
  height: 24px;
  background: #fff;
  position: relative;
  top: -292px;
  font-size: 12px;
  color: #444444;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}
.sales_box_date span {
  text-transform: lowercase;
}
.sales_box_date:after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px;
  width: 14px;
  height: 100%;
  background-color: #fafafa;
  transform: skew(-23deg);
}
.sales {
  padding-top: 58px;
}
.sales_box_footer {
  height: 77px;
  border-bottom: 3px solid #67b73e;
  margin-top: -20px;
  font-size: 14px;
  position: relative;
}
.sales_box_footer p {
  color: #464646;
  width: 141px;
  margin-left: 15px;
  margin-top: 12px;
  float: left;
}
.sales_box_footer span {
  color: #67b73e;
  float: left;
  margin-left: 15px;
}
.end_sales {
  position: absolute;
  right: 0;
  top: 50px;
  background: #f58225;
  border-radius: 5px;
  width: 45px;
  height: 58px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  float: right;
  margin-top: -46px;
  margin-right: 10px;
  line-height: 14px;
  transition: transform 0.3s ease-in-out;
}
.end_sales span {
  display: block;
  color: #fff;
  margin-left: 0!important;
  font-size: 25px;
  font-weight: 700;
  float: none;
  line-height: 24px;
}
.sales_box_price {
  position: absolute;
  bottom: 95px;
  left: 15px;
}
.future_sales {
  opacity: 0.4;
}
.pattern {
  height: 301px;
  margin-top: 61px;
  background: url("images/pattern.png");
}
.why_me {
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  font-size: 30px;
  font-weight: 700;
  margin-top: 41px;
  margin-bottom: 23px;
}
.green_block {
  height: 80px;
  width: 80px;
  background: #67b73e;
}
.why_block {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: auto;
  float: left;
  margin-left: 42px;
  margin-top: 250px;
}
.why_block:nth-child(3) {
  margin-left: 63px;
}
.why_block:nth-child(3) p {
  padding-left: 11px;
}
.why_block:nth-child(4) {
  margin-left: -1px;
}
.why_block:nth-child(4) p {
  padding-left: 12px;
}
.why_block:nth-child(5) {
  margin-left: 4px;
}
.why_block:nth-child(5) p {
  padding-left: 6px;
}
.why_block img {
  display: block;
  margin: 0 auto;
}
.why_block p {
  padding: 15px 1px;
}
.sales_season {
  height: 315px;
  width: 300px;
  margin-top: 60px;
  display: inline-block;
  float: left;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 5px 1px #cfcfcf;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  border-bottom: 3px solid #67b73e;
}
.sales_season:hover {
  border-bottom: 3px solid #f58225;
}
.sales_season_footer {
  padding: 10px 0 10px 15px;
  position: relative;
  height: 95px;
  box-sizing: border-box;
}
.sales_season_footer p {
  color: #464646;
  line-height: 15px;
  width: 138px;
  margin-top: 5px;
  height: 66px;
}
.sales_season_footer span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #549d24;
  float: left;
  margin-bottom: 5px;
  display: block;
}
.def {
  position: absolute;
  top: 37px;
  right: 60px;
}
.end_sales_season {
  padding-top: 21px;
  padding-left: 10px;
  display: inline-block;
  background: #f58225;
  border-radius: 5px;
  width: 45px;
  height: 58px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin-top: -72px;
  margin-right: 10px;
  line-height: 14px;
  float: right;
}
.end_sales_season span {
  font-size: 24px;
  font-weight: 700;
  color: #fff!important;
}
.end_sales_season:nth-child(3) {
  margin-left: 180px;
  position: absolute;
}
.month {
  display: block!important;
  text-align: left!important;
  color: #444444!important;
  font-size: 13px!important;
  font-weight: 500!important;
  position: absolute;
}
.startsale {
  bottom: 1px;
  right: 88px;
}
.endsale {
  bottom: 1px;
  right: 11px;
}
.header {
  width: 109px;
  text-transform: uppercase;
}
.months {
  width: 90px!important;
  font-size: 15px!important;
  font-weight: 700;
  color: #fff!important;
  padding: 7px;
}
.sales_season_link {
  margin-right: 16px;
  display: inline-block !important;
}
.sales_season_link:nth-child(3) {
  margin-right: -4px;
}
.sales_des {
  font-style: italic;
  width: 900px;
  margin: 25px auto 31px;
}
.sales_des span {
  color: #549d24;
}
.star_o {
  color: #f58225!important;
}
.note {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: 1px dashed #67b73e;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 11px;
}
.note span {
  color: #f58225;
}
.review {
  height: 524px;
  background: url("images/back.jpg") 50% no-repeat;
  margin-top: 60px;
}
.review ul {
  list-style-type: none;
  margin-top: 56px;
  text-align: center;
}
.review li {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  opacity: 0.7;
  transition: 0.3s;
}
.review li:first-child {
  margin-left: 56px;
}
.review li:hover {
  opacity: 1;
}
.review li img {
  display: block;
  margin-bottom: 8px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
}
.review li a {
  color: #fff;
  text-decoration: underline;
}
.rewiew_text {
  font-style: italic;
  position: relative;
  color: #fff;
  width: 850px;
  margin-top: 63px;
  margin-left: 69px;
  line-height: 15px;
}
.rewiew_text:before {
  content: url("images/dots.png");
  position: absolute;
  left: -51px;
  top: 4px;
}
.hide_tab {
  display: none;
}
.show_tab {
  display: block;
}
.spoiler {
  color: #fadbaf;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 178px;
  display: block;
  float: right;
  text-align: left;
  margin-right: 29px;
  margin-top: 40px;
  white-space: nowrap;
}
.spoiler:hover {
  color: #fadbaf;
}
.pattern_small {
  height: 301px;
  margin-top: 61px;
  background: url("images/pattern.png");
  height: 236px;
  margin-top: 0;
}
.sales_registration {
  height: 68px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 5px 1px #cfcfcf;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  margin-top: 60px;
}
.sales_registration .sales_des {
  font-size: 13px!important;
  font-weight: 500;
  margin: 11px;
}
.sales_registration p {
  font-size: 17px;
  color: #444444;
  font-weight: 700;
  display: inline-block;
  margin-top: 21px;
  margin-left: 24px;
}
.sales_registration .reg_er {
  position: absolute;
  top: 44px;
  margin-left: -198px;
}
.sales_registration form {
  position: relative;
  display: inline-block;
}
.sales_registration input {
  width: 210px;
  height: 30px;
  font-size: 13px;
  color: #4a4a4a;
  padding-left: 10px;
  border-radius: 4px;
  margin-left: 31px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
}
.sales_registration input:nth-child(2) {
  margin-left: 17px;
}
.sales_registration button {
  -webkit-box-shadow: 0px 3px 0px 0px #55a727;
  -moz-box-shadow: 0px 3px 0px 0px #55a727;
  box-shadow: 0px 3px 0px 0px #55a727;
  width: 210px;
  height: 34px;
  background: #67b73e;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
  border: none;
  display: inline-block;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-left: 16px;
}
.sales_registration button:hover {
  background-color: #7ac554;
}
.youtube {
  width: 176px;
  height: 48px;
  display: inline-block;
  margin-left: 19px;
  position: relative;
  top: -20px;
  left: 62px;
}
.small_menu {
  list-style-type: none;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  margin-left: 154px;
  line-height: 21px;
  position: relative;
  top: 3px;
}
.small_menu li {
  padding-left: 10px;
  background: url("images/round.jpg") 0% 50% no-repeat;
}
.small_menu a {
  color: #444444;
}
.widget {
  margin-top: 51px;
}
.arrow {
  margin-left: 44px;
  margin-top: 8px;
}
.arrow_text {
  color: #f58225;
  display: inline;
  font-style: italic;
}
.section-box.grey {
  background: #ebebeb;
  margin-top: 57px;
  padding-top: 18px;
  padding-bottom: 14px;
}
.section-box.grey ul {
  margin-left: -9px;
  list-style-type: none;
  position: relative;
}
.section-box.grey ul li {
  display: inline-block;
}
.section-box.grey ul a {
  color: #7d7d7d;
  font-family: Calibri;
}
.reg_er {
  margin-left: 18px;
  margin-top: -10px;
  margin-bottom: 9px;
  color: red;
  font-size: 12px;
  display: none;
}
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.end_sales.hover {
  margin-top: -43px;
  transform: scale(1.2);
}
.scroll-img {
  width: 940px;
  height: 363px;
  overflow: hidden;
  font-size: 0;
  margin: 88px auto 0;
}
.scroll-img ul {
  width: 1500px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
}
.scroll_box {
  position: relative;
}
.carousel-indicators {
  bottom: 7px !important;
}
.carousel {
  position: relative;
  height: 425px!important;
}
.carousel-indicators li {
  width: 13px!important;
  height: 13px!important;
  border: 1px solid #67b73e!important;
}
.carousel-indicators .active {
  background-color: #67b73e!important;
}
.carousel-indicators .active {
  margin: 1px !important;
}
.carousel-control.left {
  background: url("images/arrow_back.png") 50% no-repeat !important;
  opacity: 1;
  margin-left: -100px;
}
.carousel-control.right {
  background: url("images/arrow_go.png") 50% no-repeat !important;
  opacity: 1;
  margin-right: -91px;
}
#carousel-example-generic1 ol {
  bottom: -5px !important;
}
#carousel-example-generic1 .carousel-control.right {
  margin-right: -98px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 425px;
}
.flip-clock-wrapper ul {
  width: 24px!important;
  height: 40px!important;
  font-weight: 500!important;
  margin: 5px -2px 0 5px !important;
}
.flip-clock-wrapper ul li a div div.inn {
  background-color: #4fa121!important;
  color: #fff!important;
  font-size: 34px!important;
}
.flip-clock-wrapper ul li {
  line-height: 40px!important;
}
.flip-clock-dot {
  display: none!important;
}
.flip-clock-divider {
  width: 5px!important;
}
.flip-clock-label {
  color: #a9a9a9!important;
  top: 53px!important;
  font-size: 13px!important;
}
.countdown {
  color: #4a4a4a;
  font-size: 13px;
  margin-left: 23px;
}
.countdown_action {
  font-size: 38px;
  font-weight: 500;
  float: right;
  display: inline-block;
  margin-top: -3px;
  margin-right: 49px;
}
.countdown_clock {
  border-bottom: 1px solid #cdcdcd;
  margin-top: 16px;
  height: 103px;
}
.action_content_p {
  color: #252525;
  margin-top: 36px;
  margin-left: 9px;
  line-height: 16px;
}
.more_actions_p {
  color: #444444;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin: 30px auto 18px;
}
.flip-clock-wrapper {
  margin: 0;
  width: 280px;
  border-radius: 2px;
  display: inline-block;
  margin-left: -1px !important;
}
.carousel-control {
  width: 100px;
}
.countdown_clock p {
  margin-bottom: 0!important;
}
.countdown_clock .flip-clock-wrapper {
  margin: 0!important;
}
.ls-link .flip-clock-wrapper {
  margin-bottom: 0;
  margin-top: 0;
  height: 80px;
}
.ls-clock-wrapper {
  background-color: white;
  border-radius: 3%;
  margin-right: 216px;
  margin-top: 150px;
  float: right;
}
.days .flip-clock-label {
  right: -38px !important;
}
.hours .flip-clock-label {
  right: -48px !important;
}
.minutes .flip-clock-label {
  right: -56px !important;
}
.seconds .flip-clock-label {
  right: -57px !important;
}
.action_pic {
  margin-top: 36px;
}
.carousel-inner .one_item {
  margin-right: 20px;
}
.carousel-inner .one_item .one_item_image {
  float: left;
}
.carousel-inner .one_item.float {
  display: inline-block;
}
.sales_box_pic img {
  height: 283px;
}
.borderImage {
  border-radius: 50px;
}
@-webkit-keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-top: 0px;
  }
}
.bounceInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
.sales_row {
  margin-bottom: 30px;
}
.sales_row:first-child {
  margin-top: 30px;
}
.sales_row a {
  display: inline-block;
}
.sales_row a:last-child .sales_box {
  margin-right: 0;
}
.tooltip {
  width: 349px;
  height: 160px;
  border-radius: 3px;
  position: absolute;
  background: #fff;
  left: -376px;
  top: -129px;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 19px;
  padding-right: 19px;
  line-height: 18px;
  z-index: 10;
}
.tooltip span {
  color: #549d24;
}
.tooltip img:nth-child(1) {
  position: absolute;
  top: 10px;
  right: 10px;
}
.tooltip img:nth-child(3) {
  bottom: -31px;
  right: 14px;
}
.tooltip_vis {
  opacity: 1;
}
